:root {
  --color-brand-primary: #9ba9db;
  --color-brand-primary-extra-dark: #1f314b;
  --color-brand-primary-dark: #34428b;
  --color-brand-primary-medium: #6f78ab;
  --color-brand-primary-light: #9ba9db;
  --color-brand-secondary-dark: #2f372e;
  --color-brand-secondary-medium: #637b61;
  --color-brand-secondary-light: #9ba9db;
  --color-brand-tertiary: #8b9d8a;
  --color-gray-light: #d6d6d6;
}

* {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 390px;
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  background-color: var(--color-brand-tertiary);
}

h1,
h4 {
  font-weight: 600;
}

button {
  width: 64px;
  border-radius: 8px;
}

main {
  width: 390px;
  background-color: white;
}

.container {
  width: 390px;
  margin: auto;
  padding: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signInContainer {
  background-color: darkgray;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: var(--color-brand-primary);
  border-radius: 20px;
}

.registerContainer {
  background-color: bisque;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

#todosTopHeader {
  background-color: var(--color-brand-primary-dark);
  width: 390px;
  box-sizing: border-box;
}

#habitsTopHeader {
  background-color: var(--color-brand-secondary-dark);
  width: 390px;
  box-sizing: border-box;
}

.top-header {
  width: 390px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  position: fixed;
  top: 0px;
  z-index: 2;
}

.fa-user,
.fa-arrow-right-from-bracket,
.fa-cloud {
  color: white;
}

#quoteContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  transition: opacity is ease;
  max-height: fit-content;
}

#author {
  font-size: 0.8em;
  font-style: italic;
}

.fade-quote {
  opacity: 0;
}

#todosTab {
  background-color: var(--color-brand-primary);
}
#habitTab {
  background-color: var(--color-brand-tertiary);
}
#todosContainer {
  border-radius: 10px;
  margin: 5px;
  padding: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

nav {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

nav a {
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 10px 10px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: #e7e7e7;
}

.filterAndSort {
  border: 0.01px solid #ccc;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.sortContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  width: 100%;
}

#deadlineContainer,
#estimatedTimeContainer,
#priorityFilterContainer,
#prioritySortContainer,
#prioritySortInputContainer,
#streakSortContainer {
  display: flex;
  background: #f4f5f4;
  margin: 0.2rem;
  justify-content: space-between;
}

#estimatedTimeSortDropdown,
#deadlineSortDropdown {
  border-radius: 5px;
}

.toDoItems,
.hibitsItems {
  border: 0.1px solid #ccc;
  width: 100%;
  height: 400px;
}

#todosContainer {
  border-radius: 10px;
  margin: 5px;
  padding: 20px;
  background-color: rgb(238, 238, 238);
}

#completedTodosContainer {
  border-radius: 10px;
  margin: 5px;
  padding: 20px;
  background-color: lightgray;
}

/* Sharlins del */

.todo-card-cover-container,
.habit-card-cover-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 80%;
}

.todo-card {
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.todo-info {
  border-radius: 0px 0px 8px 8px;
  background-color: var(--color-brand-primary);
  width: 100%;
  padding: 10px 20px;
}

.completed-todo-info {
  border-radius: 20px;
  background-color: var(--color-brand-secondary);
  width: 100%;
  padding: 10px 20px;
}

.todo-details {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  justify-content: space-between;
}

.todo-title-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}

.todo-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-btn,
.delete-btn {
  border: 0px;
  border-radius: 5px;
  margin: 4px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

.todo-category-cover,
.habit-priority-high-cover,
.habit-priority-medium-cover,
.habit-priority-low-cover,
.habit-priority-none-cover {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px 20px;
  overflow: hidden;
  height: 40px;
  font-size: 12px;
}

.todo-category-cover {
  background-color: var(--color-brand-primary-extra-dark);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.habit-priority-high-cover {
  background-image: linear-gradient(
    rgb(255, 98, 0),
    var(--color-brand-tertiary)
  );
}

.habit-priority-medium-cover {
  background-image: linear-gradient(darkorange, var(--color-brand-tertiary));
}

.habit-priority-low-cover {
  background-image: linear-gradient(
    rgb(255, 221, 0),
    var(--color-brand-tertiary)
  );
}

.habit-priority-none-cover {
  background-color: var(--color-brand-tertiary);
}

.habit-info {
  border-radius: 0px 0px 8px 8px;
  background-color: var(--color-brand-tertiary);
  padding: 20px;
  margin-bottom: 20px;
}

/*Streak element*/
.streak-element {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}

#showStreak {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
}

#addNewStreak {
  border: 1px solid black;
}

/* Arrows to display Completed todos or not*/

.completed-todos-heading {
  display: flex;
  align-items: center;
}

#arrowRight {
  margin: 10px;
}

#arrowDown {
  margin: 10px;
}

.hide-element {
  display: none;
}

/* End of Arrows to display Completed todos or not*/

/*************POMODORO MODAL******************/

/* The Modal (background) */
.pomodoro-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /*padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.371); /* Black w/ opacity */
}

/* Modal Content */
.pomodoro-modal-content {
  background-color: #fefefe6c;
  margin: auto;
  padding: 20px;
  border: 1px solid #c72020;
  width: 60%;
  height: 60%;
}

/* The Close Button */
.pomodoro-close {
  color: #700707;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.pomodoro-close:hover,
.pomodoro-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.pomodoro-modal-details {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#timerTime {
  font-size: 100px;
  width: 200px;
}
.timer-display {
  font-size: 100px;
}
.timer-buttons {
  border: 1px solid rgb(20, 58, 134);
}
/* .timer-stop,
.timer-pause,
.timer-start {
} */

/******************POMODORO MODAL ENDS******************/

#footer {
  width: 390px;
  height: 82px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.habit-footer {
  background-color: var(--color-brand-secondary-dark);
}

.todo-footer {
  background-color: var(--color-brand-primary-dark);
}

.fa-circle-plus,
.fa-calendar,
.fa-stopwatch {
  color: var(--color-brand-primary-medium);
}





/*FIELDSET*/

/* .categoryContainer{
 
} */
.categoryContainer{
  margin: 15px;
  border: 1px solid rgb(194, 14, 200);
  border-radius:5px ;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;
}
#general-all-category{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  /* border: 1px solid rgb(192, 182, 42); */
  
}

#category-title{
  /* border: 1px solid blue; */
}
.category-div{
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  justify-content: space-between;
  align-items: center;
  
}
.category-item{
  /* border: 1px solid rgb(9, 123, 79); */
}
/* .sortContainer{
  
} */


.sortContainer{

  border: 1px solid rgb(194, 14, 200);
  border-radius: 5px;
  margin: 15px;
  display: flex;
  flex-direction: row;

  
 


 
 
}