:root {
  --color-brand-primary: rgb(159, 201, 213);
  --color-brand-secondary: rgb(159, 180, 185);
  --color-brand-tertiary: rgb(242, 242, 242);
}

* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h4 {
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signInContainer {
  background-color: darkgray;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: var(--color-brand-primary);
  border-radius: 20px;
}

.registerContainer {
  background-color: bisque;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

#quoteContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#author {
  font-size: 0.8em;
  font-style: italic;
}

#todosTab {
  background-color: var(--color-brand-primary);
}
#habitTab {
  background-color: var(--color-brand-tertiary);
}
#todosContainer {
  border-radius: 10px;
  margin: 5px;
  padding: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

nav {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

nav a {
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 10px 10px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: #e7e7e7;
}

.filterAndSort {
  border: 0.01px solid #ccc;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.sortContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  width: 100%;
}

#deadlineContainer,
#estimatedTimeContainer,
#priorityFilterContainer,
#prioritySortContainer,
#prioritySortInputContainer,
#streakSortContainer {
  display: flex;
  background: #f4f5f4;
  margin: 0.2rem;
  justify-content: space-between;
}

#estimatedTimeSortDropdown,
#deadlineSortDropdown {
  border-radius: 5px;
}

.toDoItems,
.hibitsItems {
  border: 0.1px solid #ccc;
  width: 100%;
  height: 400px;
}

#todosContainer {
  border-radius: 10px;
  margin: 5px;
  padding: 20px;
  background-color: rgb(238, 238, 238);
}

#completedTodosContainer {
  border-radius: 10px;
  margin: 5px;
  padding: 20px;
  background-color: lightgray;
}

.todo-card {
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.todo-info {
  border-radius: 20px;
  background-color: var(--color-brand-primary);
  width: 100%;
  padding: 10px 20px;
}

.completed-todo-info {
  border-radius: 20px;
  background-color: var(--color-brand-secondary);
  width: 100%;
  padding: 10px 20px;
}

.todo-details {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  justify-content: space-between;
}

.todo-title-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}

.todo-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-btn,
.delete-btn {
  border: 0px;
  border-radius: 5px;
  margin: 4px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Habits

.habit-card

.habit-title-info

.habit-btn

.habit-details
*/

.habit-priority-high-cover,
.habit-priority-medium-cover,
.habit-priority-low-cover,
.habit-priority-none-cover {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px 20px;
  overflow: hidden;
  height: 40px;
  font-size: 12px;
}

.habit-priority-high-cover {
  background-image: linear-gradient(
    rgb(255, 98, 0),
    var(--color-brand-tertiary)
  );
}

.habit-priority-medium-cover {
  background-image: linear-gradient(darkorange, var(--color-brand-tertiary));
}

.habit-priority-low-cover {
  background-image: linear-gradient(
    rgb(255, 221, 0),
    var(--color-brand-tertiary)
  );
}

.habit-priority-none-cover {
  background-color: var(--color-brand-tertiary);
}

.habit-info {
  border-radius: 0px 0px 8px 8px;
  background-color: var(--color-brand-tertiary);
  padding: 20px;
  margin-bottom: 20px;
}

/*Streak element*/
.streak-element {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}

#showStreak {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
}

#addNewStreak {
  border: 1px solid black;
}

/* Arrows to display Completed todos or not*/

.completed-todos-heading {
  display: flex;
  align-items: center;
}

#arrowRight {
  margin: 10px;
}

#arrowDown {
  margin: 10px;
}

.hide-element {
  display: none;
}

/* End of Arrows to display Completed todos or not*/

/*************POMODORO MODAL******************/

/* The Modal (background) */
.pomodoro-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /*padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.371); /* Black w/ opacity */
}

/* Modal Content */
.pomodoro-modal-content {
  background-color: #fefefe6c;
  margin: auto;
  padding: 20px;
  border: 1px solid #c72020;
  width: 60%;
  height: 60%;
}

/* The Close Button */
.pomodoro-close {
  color: #700707;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.pomodoro-close:hover,
.pomodoro-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.pomodoro-modal-details {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#timerTime {
  font-size: 100px;
  width: 200px;
}
.timer-display {
  font-size: 100px;
}
.timer-buttons {
  border: 1px solid rgb(20, 58, 134);
}
/* .timer-stop,
.timer-pause,
.timer-start {
} */

/******************POMODORO MODAL ENDS******************/
