:root {
  --color-brand-primary: #9ba9db;
  --color-brand-primary-extra-dark: #1f314b;
  --color-brand-primary-dark: #34428b;
  --color-brand-primary-medium: #6f78ab;
  --color-brand-primary-light: #9ba9db;
  --color-brand-secondary-extra-dark: #2f372e;
  --color-brand-secondary-dark: #105e38;
  --color-brand-secondary-medium: #2dae70;
  --color-brand-secondary-light: #bbeecf;
  --color-gray-light: #d6d6d6;
  --color-gray-medium: #a3a3a3;
  --color-priority-red: #ff5b5b;
  --color-priority-yellow: #fff73f;
  --color-priority-green: #a1d4a6;
  --color-shadow: rgba(133, 129, 144, 0.5);
}

* {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Elements section starts here */

body {
  width: 390px;
  height: 100vh;
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  /* background-color: var(--color-brand-tertiary); */
}

button {
  width: 64px;
  border-radius: 8px;
  border: 0px;
  font-size: 16px;
  padding: 4px 7px;
  filter: drop-shadow(2px 4px 1px lightgray);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  width: 390px;
}

input {
  border-radius: 5px;
  border: 1px solid var(--color-brand-primary-light);
  font-size: 13px;
  padding: 2px;
  filter: drop-shadow(2px 4px 1px lightgray);
  /* margin: 5px; */
}

input[type="checkbox"] {
  filter: none;
}

h1 {
  margin: 0.4em;
  padding: 5px;
}

fieldset {
  border: none;
}
/* Elements section ends here */

/* Login/Register page starts here */

.login-input {
  margin: 5px 0px;
}

.login-img {
  padding-top: 50px;
}
#indexMain {
  background-color: var(--color-brand-primary-light);
  height: 100vh;
}

#todoMain {
  background-color: var(--color-brand-primary-light);
}

#habitMain {
  background-color: var(--color-brand-secondary-light);
}
.container {
  /* border: 1px solid rgb(59, 14, 132); */
  width: 390px;
  margin: auto;
  padding: auto;
  border-radius: 5px;
  /* border: 1px solid #ccc; */
}

.signInContainer {
  padding: 30px;
  margin: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: white;
  border-radius: 5px;
  filter: drop-shadow(2px 4px 4px var(--color-brand-primary-medium));
  font-size: 14px;
  color: var(--color-brand-primary-extra-dark);
  font-weight: 600;
}

#buttonContainer {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 20px 0px 8px 0px;
}

#registerBtn {
  background-color: var(--color-brand-secondary-light);
  color: white;
  display: inline;
}

#loginBtn {
  background-color: var(--color-brand-primary-extra-dark);
  color: white;
  display: inline;
}
/* .registerContainer {
  background-color: bisque;
  padding: 10px;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
} */

/* Login/Register page ends here */

#todosTopHeader {
  background-color: var(--color-brand-primary-dark);
  width: 390px;
  box-sizing: border-box;
  .fa-user,
  .fa-arrow-right-from-bracket,
  .fa-cloud {
    color: var(--color-brand-primary-light);
  }
}

#habitsTopHeader {
  background-color: var(--color-brand-secondary-extra-dark);
  width: 390px;
  box-sizing: border-box;
  .fa-user,
  .fa-arrow-right-from-bracket,
  .fa-cloud {
    color: var(--color-brand-secondary-light);
  }
}

.top-header {
  width: 390px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  position: fixed;
  top: 0px;
  z-index: 2;
}

.fa-user,
.fa-arrow-right-from-bracket,
.fa-cloud {
  color: white;
}

#quoteContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  transition: opacity is ease;
  max-height: fit-content;
  margin: 1.5em;
  margin-bottom: 0.5rem;
  background-color: white;
}
#quote {
  margin-bottom: 0;
}
#author {
  font-size: 0.8em;
  font-style: italic;
}

.fade-quote {
  opacity: 80%;
}

#todosTab {
  background-color: var(--color-brand-primary);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#habitTab {
  background-color: var(--color-brand-secondary-light);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#todosContainer-title {
  /* padding: 20px; */
  padding: 5px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  right: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 320px;
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.header-container {
  border: none;
}
nav {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  /* border-radius: 5px; */
  margin-top: 40px;
}

nav a {
  /* border: 1px solid #ccc; */
  border-bottom: none;
  padding: 10px 10px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: #e7e7e7;
}

/* .filterAndSort {
  border: 0.01px solid #ccc;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.sortContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  width: 100%;
}

#deadlineContainer,
#estimatedTimeContainer,
#priorityFilterContainer,
#prioritySortContainer,
#prioritySortInputContainer,
#streakSortContainer {
  display: flex;
  background: #f4f5f4;
  margin: 0.2rem;
  justify-content: space-between;
}
*/

#estimatedTimeSortDropdown,
#deadlineSortDropdown {
  border-radius: 5px;
  border: 1px solid var(--color-brand-primary-light);
  font-size: 13px;
  padding: 2px;
}

.toDoItems,
.hibitsItems {
  border: 0.1px solid #ccc;
  width: 100%;
  height: 400px;
}

/* Sharlins del. TEST! */

#todosContainer {
  border-radius: 10px;
  margin: 0.5em;
  padding: 0.5em;
  background-color: var(--color-brand-primary-light);
}

#completedTodosContainer {
  border-radius: 10px;
  margin: 0.5em;
  margin-bottom: 200px;
  padding: 0.5em;
  padding-bottom: 96px;
}

.completed-todos-h2 {
  display: flex;
  text-align: center;
}

.todo-card-cover-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  margin: 0.9em;
}

.todo-cover {
  background-color: var(--color-brand-primary-extra-dark);
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0.8em;
  overflow: hidden;
  max-height: 1em;
  align-items: center;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.completed-todo-cover {
  /*Unfolded*/
  background-color: var(--color-gray-medium);
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0.8em;
  overflow: hidden;
  max-height: 1em;
  align-items: center;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.todo-card {
  border-radius: 10px;
  padding-right: 1em;
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
}

.todo-info {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fcfbf0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em 1em;
  width: 100%;
  filter: drop-shadow(2px 4px 1px var(--color-shadow));
}

.completed-todo-info {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fcfbf0;
  width: 100%;
  padding: 0.5em 1em;
}

.todo-details {
  border-radius: 20px;
  display: flex;
  margin: 0.5em;
  width: 100%;
  justify-content: space-between;
  font-size: 0.8rem;
  color: var(--color-brand-primary-medium);
  align-self: flex-start;
}

.todo-title-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-title-info button {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  height: 1.5em;
  background-color: rgb(39, 140, 173);
  margin-left: 0.2em; /*spacing between buttons */
}

.todo-btn {
  display: flex;
}

.edit-btn,
.delete-btn {
  border: none;
  border-radius: 5px;
  height: 1.6em;
  background-color: rgb(39, 140, 173);
  margin-left: 0.5em;
}

.habit-priority-high-cover,
.habit-priority-medium-cover,
.habit-priority-low-cover,
.habit-priority-none-cover {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px 20px;
  overflow: hidden;
  height: 20%;
  align-items: center;
  font-size: 0.8em;
  font-weight: 500;
  color: var(--color-brand-secondary-extra-dark);

}

.habit-card-cover-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin: 1em;
  border: 1px solid red;
}

#habitContainer {
  
  display: flex;
  flex-direction: column;
  /* border-radius: 10px; */
  margin: 0.5em;
  padding: 0.5em;
  padding-bottom: 64px;
  background: var(--color-brand-secondary-light);
}

.habit-priority-high-cover {
  background: var(--color-priority-red);
}

.habit-priority-medium-cover {
  background: var(--color-priority-yellow);
}

.habit-priority-low-cover {
  background: var(--color-priority-green);
}

.habit-priority-none-cover {
  background-color: var(--color-gray-light);
}


.habit-card {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  /* background: #eeeeee; */
  margin: 1em;
  
} 

.habit-btn {
  display: flex;
  flex-direction: row;
  width: 50%;
  max-width: 50%;
  /* border: 1px solid rgb(14, 167, 14) ; */
}

.habit-title-info {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  background: #eeeeee; 
  padding: 5px;
 padding-bottom: 20px;
}
.title-element{
  font-size: 15px;

}
/* .habit-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 20%;
  padding: 0.5em;
  margin-top: 0.5em;
  border: 1px solid blue ;
} */

/* .habit-details input {
  display: flex;
  background-color: red;
} */

/* .habit-details p {
  display: flex;
  font-size: 1.2em;
  margin: 0.2em;
  border-radius: 50%;
  padding: 0.5em;
  background: rgb(241, 235, 235);
  border: 1px solid rgb(25, 25, 22) ;
} */
.title-streak-div{
/* border: 1px solid red; */
padding: 0px 10px;
display: flex;
flex-direction: row;
justify-content: space-between;

}

.habit-info {
  border-radius: 0px 0px 8px 8px;
  background-color: var(--color-brand-tertiary);
  padding: 0.5em;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  /* border: 1px solid rgb(37, 184, 59) ; */
}
.streak-show{
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  background-color: white;
}
/*Streak element*/
/* .streak-element {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  border: 1px solid rgb(225, 27, 176) ;
 
} */



/* Arrows to display Completed todos or not*/

.completed-todos-heading {
  display: flex;
  align-items: center;
  margin: 0.8em;
  margin-top: 1.8em;
}

#arrowRight {
  margin: 10px;
}

#arrowDown {
  margin: 10px;
}

.hide-element {
  display: none;
}

/* End of Arrows to display Completed todos or not*/

/*************POMODORO MODAL******************/

/* The Modal (background) */
.pomodoro-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /*padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.371); /* Black w/ opacity */
}

/* Modal Content */
.pomodoro-modal-content {
  background-color: #fefefe6c;
  margin: auto;
  padding: 20px;
  border: 1px solid #c72020;
  width: 60%;
  height: 60%;
}

/* The Close Button */
.pomodoro-close {
  color: #700707;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.pomodoro-close:hover,
.pomodoro-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.pomodoro-modal-details {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#timerTime {
  font-size: 100px;
  width: 200px;
}
.timer-display {
  font-size: 100px;
}
.timer-buttons {
  border: 1px solid rgb(20, 58, 134);
}
/* .timer-stop,
.timer-pause,
.timer-start {
} */

/******************POMODORO MODAL ENDS******************/

#footer {
  width: 390px;
  height: 82px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.habit-footer {
  background-color: var(--color-brand-secondary-extra-dark);
  .fa-circle-plus {
    color: var(--color-brand-secondary-light);
  }
  .fa-calendar,
  .fa-stopwatch {
    color: var(--color-brand-secondary-medium);
  }
}

.todo-footer {
  background-color: var(--color-brand-primary-dark);
  .fa-calendar,
  .fa-stopwatch {
    color: var(--color-brand-primary-medium);
  }
  .fa-circle-plus {
    color: var(--color-brand-primary-light);
  }
}

#openModalButton {
  color: white;
}

/*FIELDSET*/

.categoryContainer {
  margin: 5px 15px;
  /* border: 1px solid #1f2122; */
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

.filter-sort-title,
#category-modal-title {
  font-size: 12px;
  padding: 3px;
  border-radius: 5px;
  color: white;
  /* border: 1px solid blue; */
}

.todo-filter-sort-title {
  background-color: var(--color-brand-primary-dark);
}

.habit-filter-sort-title {
  background-color: var(--color-brand-secondary-dark);
}

.category-div {
  display: flex;
  text-align: center;
  align-items: center;
  margin: auto;
  padding: auto;
  justify-content: space-around;
  text-align: center;
  /* border: 1px solid red; */
}

.category-item {
  /* border: 1px solid rgb(194, 14, 200); */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  .category-icon {
    height: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }
}

label {
  font-size: 12px;
}

.sortContainer {
  background-color: white;
  /* border: 1px solid #6f78ab; */
  border-radius: 5px;
  margin: 4px 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

/* Todos-completed container*/

.todos-completed-container,
.habit-container {
  /* border: 0.1px solid lightgray; just to check it */
  border-radius: 5px;
  margin: 10px 15px;
}

.filterSortMainContainer {
  display: flex;
  margin: 5px 15px;
  justify-content: space-around;
  align-items: center;
}
/*Habit-sida*/

.filterContainerHabit {
  background-color: white;
  /* border: 1px solid #090c7a; */
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  #priorityFilterDropdown {
    padding: 5px 6px;
  }
}
.sortContainerHabit {
  background-color: white;
  /* border: 1px solid var(--color-brand-secondary-dark); */
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 2;
  #prioritySortDropdown,
  #streakSortDropdown {
    padding: 5px 15px;
  }
}

/*MODAL*/
#addTodoBtn,
#saveTodoBtn,
#addHabitBtn,
#saveHabitBtn {
  width: 100px;
  padding: 10px;
  margin-top: 10px;
}

.modal-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: space-around; */
  /* align-items: center; */
}
.modal-item {
  /* border: 1px solid rgb(186, 21, 21); */
  display: flex;
  /* justify-content: space-around; */
  gap: 30px;
}
#modalCategoryFieldset,
#description-input {
  margin: 5px 1px;
  border-radius: 5px;
  border: 1px solid #6f78ab;
}
#estimatedTimeHours,
#estimatedTimeMinutes {
  width: 50px;
}

#editStreakInput {
  width: 60px;
  padding: 4px;
}
#input-title {
  width: 150px;
  padding: 4px;
}
#priorityInput {
  border: 1px solid #6f78ab;
  border-radius: 5px;
  padding: 4px;
}
#habitTitle,
#todoTitle {
  font-size: 15px;
  font-weight: bold;
}

/*CALENDAR CSS*/
.calContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background: #bdd7f3;
}

#eventForm {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

#eventForm label {
  margin: 0.2rem;
}

#eventForm input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

#submit {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

#eventList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  flex-direction: column;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

.pastEvent {
  color: #999;
}

.upcomingEvent {
  font-weight: bold;
}

.currentEvent {
  font-style: italic;
}
